#navbar,#footer{
    background-color: whitesmoke;
}
.nav-item{
    font-family: 'Open Sans', sans-serif;
    :hover{
        background-color: grey
    }
}
#intro{
    background-image:url("images/white-background.jpg");
}

.name,h1{
    font-family: 'PT Serif', serif;
}
.lead,p{
    font-family: 'PT Sans', sans-serif;
    font-size:1em;
}
.socials>a{
    margin-left:3;
}
.skill{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
.cards{
    margin-top:40px;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
}
