body{
    background-color: #4F72FF;
}
.nav-item{
    font-family: 'Open Sans', sans-serif;
    :hover{
        background-color: grey
    }
}
#footer{
    background-color: rgb(148, 144, 144);
}
.bg1{
    background: linear-gradient(300deg, #dbe5e9, #b5abac, #a2918f);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}
.bg2{
    background: linear-gradient(300deg, #899ea6, #758592, #e5eaeb);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}
@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}
.border-bottom{
    color:black;
}
.nav-link{
    color:#ebeef5!important;
}
.nav-link:hover{
    color:#0f2e5e!important;
}
.name,h1{
    font-family: 'PT Serif', serif;
}
.lead,p{
    font-family: 'PT Sans', sans-serif;
    font-size:1em;
}
.socials>a{
    margin-left:3;
}
.skill{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
.cards{
    margin-top:40px;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items: start;
}
.card{
    background-color: grey!important;
}
.reveal{
    transform: translateY(150px);
    opacity: 1;
    transition: 1s all ease;
}
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}
.skillset,.project-heading{
    font-weight:700;
    height:10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#navbar,#connect{
    background-color: #838e98;
}
